<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a>
                    <img src="#" alt="logo grafotec" width="90" height="60">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui natus vero ullam facere similique. Labore?</p>
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>Nosotros</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat, quas.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, facilis.</p>
        </div>
        <div class="box">
            <h2>Contactanos</h2>
            <div class="red-social">
                <a href="https://www.facebook.com/Diego.D.Osorio/" class="fa-brands fa-facebook"></a>
                <a href="whatsapp://send?phone=+51922276829text=Hola, ¿en que te puedo ayudar?" class="fa-brands fa-whatsapp"></a>
                <a href="mailto:diegodaliosorioz@gmail.com" class="fa-solid fa-envelope"></a>
                <a href="https://www.youtube.com/channel/UCDbPn6q5TPNeKKqHWB86LKA" class="fa-brands fa-instagram"></a>
                <a href="#" class="fa-brands fa-tiktok"></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2023 <b>Grafotec</b> - Todos los Derechos Reservados</small>
    </div>
</footer>